<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>Dietary Database Homepage</title>
        <link rel="stylesheet" type="text/css" media="screen" href="css/master.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
    <div class="main-screen">
      <div class="sign-in">
        <a href="login.php">Member Sign In / Create an Account</a>
      </div>
      <br>
      <a href="index.html"><img id="logo" src="img/logo.png" /></a>
      <br>
      <a href="grocery_index.html"><button id="grocery_products" >Grocery Products</button> </a>
      <br>
      <a href="restaurant_index.html"><button id="restaurants">Restaurants</button></a>
    </div> 
    </body>
</html>
