
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

# dd.com/restaurant/113
# dd.com/product/851

# dd.com/restaurant/most_popular
# dd.com/user/me



# dd.com/restaurants => index.php?section=restaurants
RewriteRule ^([^\/\?]+)\/?$ index.php?section=$1 [QSA,L]

# dd.com/products/post_comment => index.php?section=products&action=post_comment
RewriteRule ^([^\/\?]+)\/([^\/\?]*)/?$ index.php?section=$1&action=$2 [QSA,L]
